<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Davi Borges - Desenvolvedor Full Stack</title>

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-eoV5a8/uVZ8QXzq4lHAA//BqzABmMjFtQOpBHpXYzpL9AD2hPzqQMG8t8WSebflD"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script async src="dist/index.bundle.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg w-100 fixed-top">
          <div class="container">
            <a class="navbar-brand text-white fs-6 fw-bold col-2 col-lg-2 col-xl-2 col-xxl-2" href="#daviborges"><h1>Davi Borges<span class="text-secondary">.</span></a>
            <div>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi bi-menu-button text-white"></i>
              </button>
              <button class="nav-item btn text-secondary btn-desktop" id="toggleTheme"><i class="bi bi-sun"></i></button>
              
            </div>
            
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <div class="navbar w-100"> 
                <a class="nav-item col-2"></a>
                <a href="#sobremim" class="nav-link btn text-white col-2">Sobre Mim</a>
                <a href="#tecnologias" class="nav-link btn text-white col-2">Tecnologias</a>
                <a href="#servicos" class="nav-link btn text-white col-2">Serviços</a>
                <a href="#projetos" class="nav-link btn text-white col-2">Projetos</a>
                <a href="#contato" class="nav-link btn text-white col-2">Contato</a>
              </div>
              <button class="nav-item btn text-secondary btn-mobile" id="toggleTheme"><i class="bi bi-sun"></i></button>

            </div>

          </div>
      </nav>
    </header>

    <main >
      <div class="pt-5 d-grid col mx-0 w-100">
        <!-- Conteúdo da página aqui -->
        <content class="w-100">

          <!-- Davi Borges -->
          <section id="daviborges" class=" align-items-center w-100">
            
            <!-- Layout -->
            <div class="row d-flex align-items-xl-center align-items-center w-100">

              <!-- Foto -->
              <div class="col-4 col-md-3 col-xxl-5 col-xl-4 col-sm-4 d-flex align-items-center justify-content-center image-column" >
                <img src="/assets/davi.jpg"
                  class="img-fluid rounded-pill foto"/>
              </div>

              <!-- Apresentacao -->
              <div class="col-12 col-md-9 col-xl-8 col-sm-7 col-xxl-7 text-start align-items-center justify-content-center">
                <!-- Texto -->
                <h1 class="fw-semibold text-light">
                  Olá<span class="text-warning">, </span> eu sou <br />
                  <span class="fw-semibold text-warning h1">Davi Borges<span class="text-secondary">.</span></span>
                </h1>
                <h1 class="fw-semibold text-light">
                  Sou Desenvolvedor Full<span class="text-warning">-</span
                  >Stack<span class="text-warning">.</span>
                </h1>

              </div>
              <!-- Fim Apresentacao -->
              <!-- Botoes Desktop -->
              <div class="row justify-content-end row-buttons">
                <div class="col text-end">
                  <a
                    class="btn btn-warning"
                    data-bs-placement="bottom-end"
                    href="https://www.linkedin.com/in/davi-borges-felipe/"
                    target="_blank"
                  ><i class="bi bi-linkedin text-white"></i> LinkedIn</a>
                </div>
                <div class="col text-end">
                  <a
                    class="btn btn-warning"
                    data-bs-placement="bottom-end"
                    href="https://github.com/daviborgesfelipe"
                    target="_blank"
                  ><i class="bi bi-github text-white"></i> GitHub</a>
                </div>
              </div>
              <!-- Fim Botoes Desktop -->
              <!-- Botoes Mobile -->
              <div class="fixed-buttons-container d-flex justify-content-end">
                <a
                  class="fs-6 fixed-btn btn btn-warning"
                  href="https://www.linkedin.com/in/davi-borges-felipe/"
                  target="_blank"
                >
                  <i class="fs-6 bi bi-linkedin text-warning"></i>
                </a>
                <a
                  class="fixed-btn btn btn-warning"
                  href="https://github.com/daviborgesfelipe"
                  target="_blank"
                >
                  <i class="fs-6 bi bi-github text-warning"></i>
                </a>
              </div>
              <!-- Fim Botoes Mobile -->

            </div>
            <!-- Fim Layout  -->
          </section>

          <!-- Sobre Mim -->
          <section id="sobremim">
            <div class="row d-flex gap-3 justify-content-around pt-xxl-5" >
              
              <div class="text-start">
                <!-- Titulo -->
                <h2 class="fw-semibold text-warning">Sobre mim</h2>
                <div class="border-bottom border-warning"></div>
                <!-- Texto -->
                <p class="fs-6 text-light mt-3">
                  Sou um desenvolvedor
                  <span class="fw-bolder text-warning">Full Stack</span>. Atualmente, minhas linguagens favoritas são, para o back end, uso o
                  <span class="fw-bolder text-warning">C#</span> junto das tecnologias
                  <span class="fw-bolder text-warning">Microsoft</span>, principalmente
                  <span class="fw-bolder text-warning">.NET Core</span>,
                  <span class="fw-bolder text-warning">ASP Net</span> e
                  <span class="fw-bolder text-warning">SQL Server</span>, e para front end, gosto do 
                  <span class="fw-bolder text-warning">Angular</span> com
                  <span class="fw-bolder text-warning">TypeScript</span>,
                  <span class="fw-bolder text-warning">Bootstrap</span> e/ou
                  <span class="fw-bolder text-warning">Angular Material</span>. Estou
                  ansioso para contribuir para projetos que impactam
                  positivamente a vida das pessoas e dos negócios por meio da
                  tecnologia.
                </p>
              </div>
            </div>
            
          </section>

          <!-- Tecnologias -->
          <section id="tecnologias">
            <div class="row d-flex mx-0 gap-3 justify-content-around pt-xxl-5">
              
              <!-- Titulo -->
              <div class="pb-3">
                <h2 class="row fw-semibold text-warning">Tecnologias</h2>
                <div class="row border-bottom border-warning"></div>
              </div>

              <div class="row">
                
                <!-- Lista de Icons das Tecnologias -->
                <div class="col-12 col-xl-6 gap-2 mb-4">

                  <div class="row mt-3">

                    <div class="col-3 rounded-5">
                      <img
                      id="dotnetImage"
                      style="max-height: 200px"
                      src="/assets/dotnet.png"
                      class="img-fluid rounded-pill"
                      />
                    </div>

                    <div class="col-3 rounded-5">
                      <img
                      id="csharpImage"
                      style="max-height: 200px"
                      src="/assets/csharp.png"
                      class="img-fluid rounded-pill"
                      />
                    </div>
                    
                    <div class="col-3 rounded-5">
                      <img
                      id="angularImage"
                      style="max-height: 200px"
                      src="/assets/angularlogo.png"
                      class="img-fluid rounded-pill"
                      />
                    </div>
                    
                    <div class="col-3 rounded-5">
                      <img
                      id="typescriptImage"
                      style="max-height: 200px"
                      src="/assets/typescript.png"
                      class="img-fluid rounded-pill"
                      />
                    </div>
                  </div>

                  <div class="row mt-3">

                    <div class="col-3 rounded-5">
                      <img
                        id="visualstudioImage"
                        style="max-height: 200px"
                        src="/assets/visualstudio.png"
                        class="img-fluid rounded-pill"
                      />
                    </div>
                    
                    <div class="col-3 rounded-5">
                      <img
                        id="bootstrapImage"
                        style="max-height: 200px"
                        src="/assets/bootstrap.png"
                        class="img-fluid rounded-pill"
                      />
                    </div>
                    
                    <div class="col-3 rounded-5">
                      <img
                        id="sqlserverImage"
                        style="max-height: 200px"
                        src="/assets/sqlserver.png"
                        class="img-fluid rounded-pill"
                      />
                    </div>
                    
                    <div class="col-3 rounded-5">
                      <img
                        id="githubImage"
                        style="max-height: 200px"
                        src="/assets/github.png"
                        class="img-fluid rounded-pill"
                      />
                    </div>
                  </div>

                </div>
                <!-- Fim Lista de Icons das Tecnologias -->
                
                <!-- Painel de Discricao das Tecnologias -->
                <div class="col-12 col-xl-6" id="pnlTecnologias">
                  
                  <div class="row text-start px-4">
                    <div class="col fw-200 text-light">
                      <!-- Titulo -->
                      <h3 class="text-warning">C#</h3>
                      <div class="border-bottom border-warning"></div>
                      
                      <p class="mt-3 fs-6">
                        C# é uma linguagem de programação desenvolvida pela
                        Microsoft, conhecida por sua versatilidade e eficiência.
                        Com foco em segurança e desempenho, C# é amplamente
                        utilizada para desenvolvimento de aplicações modernas e
                        robustas.
                      </p>
                    </div>
                  </div>

                </div>
                <!-- Fim Painel de Discricao das Tecnologias -->
                
              </div>
              <!-- Fim da Lista de Icons das Tecnologias -->
              
            </div>
            <!-- Fim das Tecnologias -->
          </section>

          <!-- Serviços -->
          <section id="servicos">

            <div class="row d-flex justify-content-around mt-5 text-start">

              <!-- Descricao --> 
              <div class="col-12 col-xl-6">
                <!-- Titulo -->
                <h2 class="fw-semibold text-warning">Serviços</h2>
                <div class="border-bottom border-warning"></div>
                
                <p class="fs-6 fw-200 text-light mt-3">
                  Se você precisa de alguém para desenvolver um aplicativo, site
                  pessoal, comercial ou até mesmo uma simples landing page, você
                  está no lugar certo!
                </p>
                <p class="fs-6 fw-200 text-light mt-3">
                  Realizo as entregas dos projetos através do Github em um
                  repositório privado ou público, com o intuito de manter o
                  código sempre versionado, facilitando o processo de controle
                  de histórico.
                </p>
              
              </div>
              <!-- Fim Descricao --> 

              <!-- Skills --> 
              <div class="col-12 col-xl-6">
                <div class="row">

                  <!-- Desenvolvimento -->
                  <div class="col-12 col-xl-6 fw-200 text-light">
                    <i class="bi bi-code ms-0 text-white mt-0"></i>
                    <h3 class="text-warning">
                      Desenvolvimento<span class="text-secondary">.</span>
                    </h3>
                    <p class="fs-6">
                      Desenvolvimento de projetos end-to-end, criando API's no
                      padrão REST e criando websites dinâmicos ou estáticos.
                    </p>
                  </div>

                  <!-- Responsividade Amigável -->
                  <div class="col-12 col-xl-6 fw-200 text-light">

                    <i class="bi bi-display ms-0 text-white"></i>
                    <h3 class="text-warning">
                      Responsividade Amigável<span class="text-secondary">.</span>
                    </h5>
                    <p class="fs-6 text-light">
                      Design responsivo tornando seu site acessível,
                      independentemente do dispositivo.
                    </p>

                  </div>

                  <!-- Clean Code -->
                  <div class="col fw-200 text-light">
                    <i class="bi bi-stars text-white"></i>
                    <h3 class="text-warning">
                      Clean code<span class="text-secondary">.</span>
                    </h3>
                    <p class="fs-6">
                      Desenvolvimento seguindo os principais design patterns,
                      com o objetivo de tornar o código mais intuitivo, elegante
                      e com fácil manutenção.
                    </p>
                  </div>

                  <!-- TDD -->
                  <div class="row fw-200 text-light">
                    <i class="bi bi-tools ms-0 text-white mt-0"></i>
                    <h3 class="text-warning">
                      Desenvolvimento orientado por testes (TDD)<span class="text-secondary" >.</span >
                    </h3>
                    <p class="fs-6">
                      Implementação de funcionalidades com base em testes,
                      garantindo uma abordagem mais segura e robusta no
                      desenvolvimento de software.
                    </p>
                  </div>

                  <!-- DDD -->
                  <div class="row fw-200 text-light">
                    <i class="bi bi-diagram-2 ms-0 text-white mt-0"></i>
                    <h3 class="text-warning">
                      Design Driven Development (DDD)<span class="text-secondary">.</span>
                    </h3>
                    <p class="fs-6">
                      Abordagem de desenvolvimento que prioriza a modelagem de
                      domínio, criando um código alinhado com a lógica de
                      negócios da aplicação.
                    </p>
                  </div>

                  <!-- Testes Unitarios -->
                  <div class="col-12 col-xl-6 fw-200 text-light">
                    <i
                      class="bi bi-check-square ms-0 text-white mt-0"
                    ></i>
                    <h3 class="text-warning">
                      Testes Unitários<span class="text-secondary">.</span>
                    </h3>
                    <p class="fs-6">
                      Implementação de testes para verificar se unidades
                      individuais do código funcionam conforme o esperado,
                      garantindo a confiabilidade do sistema.
                    </p>
                  </div>

                  <!-- Testes Integração -->
                  <div class="col-12 col-xl-6 fw-200 text-light">
                    <i class="bi bi-link-45deg ms-0 text-white mt-0"></i>
                    <h3 class="text-warning">
                      Testes de Integração<span class="text-secondary">.</span>
                    </h3>
                    <p class="fs-6">
                      Verificação da interação entre diferentes partes do
                      sistema, garantindo o bom funcionamento das integrações.
                    </p>
                  </div>

                </div>
              </div>
              <!-- Fim Skills -->

            </div>
          </section>

          <!-- Projetos -->
          <section id="projetos">

            <!-- Titulo -->
            <h3 class="fw-semibold text-warning">E-Agenda Medica</h3>
            <div class="border-bottom border-warning mb-4"></div>
                        <!-- Imagens Desktop e Mobile -->
            <div class="row d-flex gap-3 justify-content-xl-center">
              
              <div class="device col-12 col-xl-6 px-0">
                  <!-- Captura de tela da versão mobile -->
                  <img class="screenshot img-fluid" src="/assets/mobile.png" alt="Versão Mobile">
              </div>
          
              <div class="desktop col-12 col-xl-6 px-0">
                  <!-- Captura de tela da versão desktop -->
                  <img class="screenshot img-fluid" src="/assets/fullhd.png" alt="Versão Desktop">
              </div>
            </div>
            <!-- Fim Imagens Desktop e Mobile -->
            <!-- Descricao -->
            <div class="row">
              <!-- Cabeçalho -->
              <i class="bi bi-info-circle ms-0 text-secondary mt-0">
               Info
              </i>
              <!-- Titulo 01 -->
              <h4 class="text-warning mt-xl-3">
                Descrição
                <span class="text-secondary">:</span>
              </h4>
              <!-- Texto 02 -->
              <p class="text-light fs-6 mb-xl-5 mt-xl-3">
                Desenvolvimento de um aplicativo web para eficiente gestão do cronograma de atividades em clínicas médicas. Recursos chave incluem agendamento de cirurgias e consultas, identificação única de médicos via CRM, definição de horários, automação de períodos de recuperação, e flexibilidade para eventos passados ou futuros, com opções de modificação e exclusão. Funcionalidades adicionais abrangem alertas de conflitos de horários para o mesmo médico e uma lista dos 10 médicos mais ativos em determinado período.
              </p>

              <!-- Titulo 02 -->
              <h4 class="text-warning mt-xl-3">
                Tecnologias Utilizadas
                <span class="text-secondary">:</span>
              </h4>
              <!-- Texto 02 -->
              <p class="text-light fs-6 mb-xl-5 mt-xl-3">
                O E-Agenda Médica adota tecnologias modernas para oferecer uma experiência eficiente. 
              </p>
              <!-- Texto 02 -->
              <p class="text-light fs-6 mb-xl-5 mt-xl-3">
                No frontend, utiliza Angular para construir Single Page Applications e RxJS para programação assíncrona. Angular Material e Bootstrap são empregados para criar interfaces modernas. A estrutura do projeto segue as melhores práticas, com componentes reutilizáveis, serviços de lógica de negócios, modelos de dados e views. 
              </p>
              <p class="text-light fs-6 mb-xl-5 mt-xl-3">
                No backend, faz uso do ASP.NET Core Web API, Entity Framework Core para mapeamento objeto-banco de dados, e ferramentas como FluentValidation, FluentResults, AutoMapper, Serilog e SequentialGuidGenerator para aprimorar a qualidade e eficácia do desenvolvimento.
              </p>
            </div>

            <br />

            <!-- Botoes Redes Sociais -->
            <div class="col d-flex justify-content-around gap-3 pb-5">
              <a
                class="btn btn-warning w-100 text-center"
                data-bs-placement="bottom-end"
                href="https://github.com/daviborgesfelipe/e-AgendaMedica.Server"
                target="_blank"
              ><i class="bi bi-github text-white shadow-lg"></i> Back-end</a>
            
              <a
                class="btn btn-warning w-100 text-center"
                data-bs-placement="bottom-end"
                href="https://github.com/daviborgesfelipe/e-agenda-medica-client"
                target="_blank"
              ><i class="bi bi-github text-white shadow-lg"></i> Front-end</a>
            </div>
            <!-- Fim Botoes Redes Sociais -->

          </section>

        </content>
      </div>
    </main>

    <footer class="footer-basic" id="contato">

      <div>

        <div class="social">
          <!-- GitHub -->
          <a href="https://github.com/daviborgesfelipe" target="_blank">
            <i class="text-light bi bi-github"></i>
          </a>
          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/in/davi-borges-felipe/" target="_blank">
            <i class="text-light bi bi-linkedin"></i>
          </a>
          <!-- TO-DO gmail and WhatsApp -->
          <a href="#"><i class="text-light bi bi-envelope-at"></i></a>
          <a href="#"><i class="text-light bi bi-whatsapp"></i></a>
        
        </div>

        <!-- Navegacao -->
        <ul class="list-inline text-dark">
          <!-- Inicio -->
          <li class="list-inline-item">
            <a class="navbar-brand btn shadow-lg text-light" href="#daviborges">Inicio</a>
          </li>
          <!-- Sobre Mim -->
          <li class="list-inline-item">
            <a class="navbar-brand btn shadow-lg text-light" href="#sobremim">Sobre Mim</a>
          </li>
          <!-- Tecnologias -->
          <li class="list-inline-item">
            <a class="navbar-brand btn shadow-lg text-light" href="#tecnologias">Tecnologias</a>
          </li>
          <!-- Servicos -->
          <li class="list-inline-item">
            <a class="navbar-brand btn shadow-lg text-light" href="#servicos">Serviços</a>
          </li>
          <!-- Contatos -->
          <li class="list-inline-item">
            <a class="navbar-brand btn shadow-lg text-light" href="#projetos">Projetos</a>
          </li>
          <!-- Contatos -->
          <li class="list-inline-item">
            <a class="navbar-brand btn shadow-lg text-light" href="#contato">Contatos</a>
          </li>
        </ul>

        <p class="copyright">Davi Borges © 2023</p>
      
      </div>

    </footer>
  </body>
</html>
