/* Css do Bootstrap */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.min.css");

i{
  font-size: 1rem;
}
.fs-6 {
  font-size: 1rem; 
}

h1, .h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}
h3{
  font-size: 1.3rem;
}
h4{
  font-size: 1.2rem;
}

@media (max-width: 768px) {

  .col-4 img {
    display: none;
  }
  .image-column {
    display: none !important;
  }

}

@media (min-width: 769px) {

  .row-buttons {
    display: block !important; 
  }

  .fixed-buttons-container {
    display: none !important; 
  }
}

@media (max-width: 768px) {
  
  .row-buttons {
    display: none !important; 
  }

  .fixed-buttons-container {
    display: flex !important;
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    z-index: 1000;
    gap: 8px;
  }

  .fixed-buttons-container > a{
    border-radius: 25px;
  }

  .btn-warning {
    background:  var(--cor-preto) !important;
    box-shadow: 3px 1px 3px 1px rgba(89, 100, 67, 0.3);
    border: none;
    color: var(--cor-branco);
  }
}

@media (min-width: 576px) {
  i{
    font-size: 1rem;
  }
  .fs-6 {
    font-size: 1.2rem !important; 
  }
  h1, .h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3{
    font-size: 1.3rem;
  }
  h4{
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  i{
    font-size: 1.4rem;
  }
  .fs-6 {
    font-size: 1.5rem !important;
  }
  h1, .h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.7rem;
  }
  h4{
    font-size: 1.6rem;
  }
}

@media (min-width: 1279px) {
  i{
    font-size: 1.8rem;
  }
  .fs-6 {
    font-size: 1.9rem !important; 
  }
  h1, .h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.3em;
  }
  h3{
    font-size: 2.2rem;
  }
  h4{
    font-size: 2rem;
  }
}

@media (min-width: 1900px) {
  i{
    font-size: 2.3rem;
  }

  .fs-6 {
    font-size: 2rem !important; 
  }
  
  h1, .h1 {
    font-size: 4.3rem;
  }
  h2 {
    font-size: 3.3rem;
  }
  h3{
    font-size: 3rem;
  }
  h4 {
    font-size: 2.9rem;
  }
}

@media (min-width: 2460px) {

  i{
    font-size: 2.3rem;
  }
  .fs-6 {
    font-size: 2.1rem !important;
  }
  h1, .h1 {
    font-size: 5.3rem;
  }
  h2 {
    font-size: 3.9rem;
  }
  h3{
    font-size: 3.5rem;
  }
  h4 {
    font-size: 3.3rem;
  }
}

@media (min-height: 1080px) {
  .foto{
    max-height: 650px !important;
  }
}

@media (min-height: 1440px) {
  .foto{
    max-height: 900px !important;
  }
}

@media (max-width: 990px) {
  .btn-mobile {
    display: none;
  }
}
 
@media (min-width: 990px) {
  .btn-desktop {
    display: none;
  }
}

:root {
  --cor-preto-total: #000000;
  --cor-preto-transparente: #2a2a2a9e;
  --cor-preto: #212529;
  --cor-cinza: #abb8c3;
  --cor-cinza-dark: #343a40;
  --cor-roxo: #9b51e0;
  --cor-roxo-dark: #6d2bc2;
  --cor-azul-transparente: #8ed2fce7;
  --cor-azul: #8ed1fc;
  --cor-azul-dark: #0693e3;
  --cor-verde: #596643;
  --cor-verde-dark: #3a432b;
  --cor-amarelo: #fcb900;
  --cor-laranjado: #ff6900;
  --cor-vermelho: #cf2e2e;
  --cor-rosa: #f78da7;
  --cor-branco: #ffffff;
}

body.light-mode {
  /* Aplica a zebra usando nth-child */
  section:nth-child(odd) {
    background-color: var(--cor-azul);
  }

  section:nth-child(even) {
    background-color: var(--cor-azul-transparente);
  }
  .text-light {
    color: var(--cor-cinza-dark) !important;
  }
  .text-warning {
    color: var(--cor-roxo-dark) !important;
  }
  .text-secondary {
    color: var(--cor-laranjado) !important;
  }
  .footer-basic {
    background-color: var(--cor-verde-dark) !important;
  }
  .footer-basic .text-light {
    color: var(--cor-branco) !important;
  }
  .border-bottom {
    border-color: var(--cor-laranjado) !important;
  }
  .btn-warning{
    background: linear-gradient(90deg, var(--cor-verde-dark), var(--cor-verde), var(--cor-azul), var(--cor-azul-transparente));
  }

  nav{
    background-color: var(--cor-verde-dark) !important;
    color: var(--cor-branco) !important;
  }
  nav .text-light {
    color: var(--cor-branco) !important;
  }
}

.btn-warning {
  background: linear-gradient(90deg, var(--cor-roxo-dark), var(--cor-roxo), var(--cor-preto), var(--cor-preto), var(--cor-preto-transparente));
  border: none;
  color: var(--cor-branco);
}

.text-light {
  color: var(--cor-azul) !important;
}

.text-warning {
  color: var(--cor-roxo-dark) !important;
}

.text-secondary {
  color: var(--cor-amarelo) !important;
}

.btn-warning:hover {
  color: var(--cor-branco);
  background: linear-gradient(90deg, var(--cor-roxo-dark), var(--cor-roxo), var(--cor-roxo), var(--cor-roxo-dark));
}

.btn-warning:hover .bi-github,
.btn-warning:hover .bi-linkedin {
  color: var(--cor-preto) !important;
}

.border-bottom {
  border-width: 3px !important;
  width: 55px;
  border-color: var(--cor-amarelo) !important;
}

.footer-basic {
  padding: 40px 0;
  min-width: 100%;
  min-height: 100%;
  background-color: var(--cor-roxo-dark) !important;
  color: var(--cor-verde);
}

html, body {
  background-color: var(--cor-preto);
  font-family: 'Original Surfer', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;  
}

footer {
  background-color: var(--cor-verde);
  position: relative;  
}

nav{
  height: 8rem !important;
  position: fixed;
  background-color: var(--cor-roxo-dark) !important;
}

section{
  min-height: 100vh; 
  padding-top: 11rem; 
  padding-inline: 2rem !important;
}
/* Aplica a zebra usando nth-child */
section:nth-child(odd) {
  background-color: var(--cor-preto-transparente);
}

section:nth-child(even) {
  background-color: var(--cor-preto);
}
.foto{
  box-shadow: 6px 3px 6px 3px rgba(89, 100, 67, 0.8);
  max-height: 400px;
}

.image-column{
  padding-left: 5rem;
}

.device {
  position: relative;
  max-width: 350px;
  max-height: 500px; 
  background-color: var(--cor-branco);
  border: 16px black solid;
  border-top-width: 16px;
  border-radius: 16px;
}

.device > img {
  max-width: 350px;
  max-height: 500px; 
}

.desktop {
  position: relative;
  max-width: 800px;  
  max-height: 500px;  
  background-color: var(--cor-branco);
  border: 16px black solid;
  border-radius: 16px;
}

.screenshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link-warning {
  visibility: visible;
}

.rounded-image-container {
  position: relative;
  overflow: hidden;
}

.rounded-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(var(--cor-preto), var(--cor-preto), var(--cor-preto), 0.1);
  z-index: 1;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: var(--cor-branco);
  margin-bottom: 0;
}
