/* Css do Bootstrap */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.min.css");

.btn-warning {
  background: linear-gradient(90deg in oklab,#212529, #343a40, #8350c6, #6d2bc2);
  border: none;
  color: aliceblue;
}
.text-warning{
  color: #8350c6 !important;
}
.btn-warning:hover {
  color: aliceblue;
  background: linear-gradient(90deg in oklab,#6d2bc2, #8350c6, #8350c6, #6d2bc2);
}
.link-warning {
  visibility: visible;
}
.border-bottom{
  border-width: 3px !important;
  width: 55px;
  border-color: #8350c6 !important;
}